@font-face {
    font-family: baloo-paaji-2;
    src: url("/fonts/BalooPaaji2-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: baloo-paaji-2;
    src: url("/fonts/BalooPaaji2-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: baloo-paaji-2;
    src: url("/fonts/BalooPaaji2-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: baloo-paaji-2;
    src: url("/fonts/BalooPaaji2-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: baloo-paaji-2;
    src: url("/fonts/BalooPaaji2-ExtraBold.ttf");
    font-weight: 800;
}