.modal {
  position: absolute;
  inset: 0 0 0 0;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 0.5rem;

  ::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }

  &[open] {
    display: flex;
    flex-direction: column;
  }

}