.side-nav {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 6rem;

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    
    }
}

.logo {
    display: block;
    margin: 0 auto;
}

.help-btn {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: white;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    svg {
        width: 1.75rem;
        height: 1.75rem;
    }
}