.login-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8rem;
    margin: 0 6rem;
}

.back-button {

}

.help-button {
    position: relative;
    &::before {
        content: '?';
        color: white;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
        width: 1.6rem;
        height: 1.6rem;
        left: -2rem;
        border-radius: 999rem;
    }
}