@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./config/colors.scss";
@import "./config/typography.scss";

#root {
  overflow-x: hidden;
  height: 100svh;
  background: var(--background-color)
}