.container {
    width: 100%;
    display: flex;
    gap: 2.25rem;
}

.info-blok {
    flex: 1;
    padding: 1rem;
    background-color: var(--heading-color);
    border-radius: 0.5rem;
}

.info-link-text {
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        margin-left: 0.2rem;
    }
}
